.node--event--featured {
    width: 350px;
    padding: 1rem;

        .node__content {
            display: grid;
            grid-template-rows: 1fr .5fr;

            .featured-event-content {
                background-color: $primary-blue-dark;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 0 0 10px 10px;
            }

            .field--name-field-event-dates {
                font-style: italic;
                padding-bottom: 1rem;
            }

            .field--name-title:hover {
                text-decoration: underline;
                color: $text-white;
            }

            img {
                display: block;
                max-width: 100%;
                border-radius: 10px 10px 0 0;
            }
    }
    }