.node-event.full {
    margin: 0;
    gap: 1rem;
    padding-top: 3rem;
    
    .event-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media #{$breakpoint-md} {
            flex-direction: row;
            gap: 5rem;
        }
    }

    .event-dates-location {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .field--name-field-event-dates .field__item {
            font-style: italic;
            padding-bottom: 1.5rem;
        }

        .address .organization {
            color: $primary-blue;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .field--name-field-event-details {
        color: $text-white;
    }

    .image-style-medium {
        border-radius: 1rem;
    }

    #view-all:hover {
        color: $primary-blue;
    }
}