#footer {
    display: block;
    text-align: center;
    color: $text-white;
    padding-block: 8rem;
    background: linear-gradient(to bottom, $primary-background, $primary-blue);

    #copyright {
        margin: 0;
    }
}