#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-white;
    padding: 2rem;
    align-items: center;
    background: linear-gradient(to top, $primary-background, $primary-blue);

    a {
        text-decoration: none;
        color: $text-white;
        padding: 1rem 1.5rem;
        background-position-y: 100%;
        background-repeat: no-repeat;
        background-size: 0 4px;
        transition: background-size .4s;
        align-items: center;
      }
      
      a:hover {
        background-image: linear-gradient($light-blue,$light-blue);
        background-position-x: 50%;
        background-size: 100% 4px;
      }

      a.is-active {
        background-image: linear-gradient($primary-blue,$primary-blue);
        background-position-x: 50%;
        background-size: 100% 4px;
      }
}


