#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-white;
    padding: 2rem;
    align-items: center;
    background: linear-gradient(to top, $primary-background, $primary-blue);
}