/*------------------------------------*\
    #Typography
\*------------------------------------*/
// Generating the classes for heading and body designs to then use '@extend' to apply to the necessary HTML elements
// see the body-styles() and heading() mixins in 20-mixins/_font-style

@import '../00-globals/variables';

// Generate classes for each heading-size and also a medium-weight version of each size
@each $size in map-keys($heading-sizes) {
  .heading-#{$size} { // .heading-l for example
    color: $text-white;
    font-weight: normal;
    @include heading($size: $size);
  }

  .heading-#{$size}-med { // .heading-l-med for example
    color: $text-white;
    font-weight: 500;
    @include heading($size: $size);
  }
}

@each $size in map-keys($display-sizes) {
  .display-#{$size} { // .display-l for example
    color: $text-white;
    font-weight: 500;
    @include display($size: $size);
  }
}

// Generate classes for each body design
@each $design, $styles in $body-designs {
  .#{$design} { // .body-paragraph for example
    @include body-styles($styles);
  }
}

// End class generating code

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  font-size: clamp(1.6rem, 1.5rem + 0.208vw, 1.8rem);
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  color: $text-white;
  background: $primary-background;
}

p {
  @extend .body-paragraph;
  margin: 0 0 $spacing-lg;
}

q {
  @extend .quote;
}

figcaption,
figure {
  @extend .caption;
}

h1 {
  @extend .heading-xl-med;
}

h2 {
  @extend .heading-l;
}

h3 {
  @extend .heading-m;
}

h4 {
  @extend .heading-s;
}

h5 {
  @extend .heading-xs;
}

h6 {
  @extend .heading-xxs;
}

.lead,
.intro {
  color: $text-white;
  @extend .intro-paragraph;
}

.text-center {
  text-align: center;
}

.med {
  font-weight: 500;
}

.caption > p {
  font: inherit;
}