.node-landing-page.full {
    background-color: $primary-background;

    .node__content {

        .intro-body {
            p {
                font-size: inherit;
                font-weight: inherit;
            }
        }
        .field-landing-intro-container > h2 {
            text-align: center;
        }

        .field--name-body > p {
            text-align: center;
        }

        .field--name-field-landing-intro > p {
            text-align: center;
        }
    }

}

body.frontpage {
    .wrapper--field-landing-hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 100%;
        height: auto;
    }
    .field-landing-intro-container {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background: rgba(0, 94, 184, .5);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap: 1rem;
    }
    .field-landing-intro-container > h2, 
    .field-landing-intro-container p {
        margin: 0;
    }
}