.node-landing-page.full {
    background-color: $primary-background;

    .wrapper--field-landing-hero-image {
        position: relative;
    }

    .field-landing-intro-container {
        position: absolute;
        top: 10rem;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background: rgba(0, 94, 184, .5);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}