.node-landing-page.full {
    background-color: $primary-background;

    .wrapper--field-landing-hero-image {
        position: relative;
    }

    .field-landing-intro-container {
        position: absolute;
        top: 10rem;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .field-landing-intro {
        text-align: center;
        color: $off-white;
    }

    .field-landing-intro > h2 {
        color: $off-white;
    }

}