.node--member--teaser {
    max-width: 300px;

    .member-content {
        background-color: $primary-blue-dark;
        padding: 1rem;
    }

    .year-joined {
        text-transform: uppercase;
        .founding-member {
            margin-bottom: 0;
        }
    }
}