.node--member--featured {
    .node__content {
        display: grid;
        max-width: 400px;

        @media #{$breakpoint-lg} {
            max-width: 100%;
            grid-template-columns: 1fr auto;
        }

        .field--name-field-member-performer-headshot {
            align-self: center;
            max-width: 400px;
            margin: 0 auto;

            @media #{$breakpoint-lg} {
                margin: 0;
                max-width: 400px;
            }
        }


        .full-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-block: 1rem;
            padding-inline: 1rem;
            background-color: $primary-blue-dark;
            gap: 16px;

            .year-joined {
                text-transform: uppercase;
            }
        }
    }
}