.node-member.full {
    padding-block: 3rem;

    .node__content {
        display: grid;

        .image-header {
            display: grid;
            grid-template-rows: 1fr;

            @media #{$breakpoint-lg} {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
        }

        .image-style-member-teaser-headshot {
            border-radius: 10px;
        }

        .field--name-field-member-performer-headshot {
            align-self: center;
            max-width: 300px;
            margin: 0 auto;

            @media #{$breakpoint-lg} {
                padding-bottom: 2rem;
            }
        }

        .year-joined {
            text-transform: uppercase;
            
            .founding-member {
                color: $primary-blue;
            }
        }
        .header-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-block: 2rem;
            padding-inline: 1rem;
        }

        .full-content {
            display: flex;
            flex-direction: column;
            padding-inline: 1rem;
            gap: 2rem;

            .field--name-field-school-location p {
                margin: 0 0 16px;
            }
            
        }
        .view-all-links {
            display: grid;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 16px;

            @media #{$breakpoint-md} {
                display: flex;
                flex-direction: row;
                gap: 5rem;
            }
        }

        .view-all-links a:hover {
            color: $primary-blue;
        }

        #view-all-performers, #view-all-directors {
            width: fit-content;
        }

    }
    
}