/*------------------------------------*\
    #Font sizes
\*------------------------------------*/

@import '../00-globals/variables'; // for the map to work in heading mixin

@mixin heading($size: 'm') {
  font-family: $poppins;
  line-height: 1.3;

  @if map-has-key($heading-sizes, $size) {
    $size-style: map-get($heading-sizes, $size);
    font-size: map-get($size-style, font-size);
    margin: map-get($size-style, margin);
  } @else {
    @warn "Heading size '#{$size}' not found. Using the default 'm' size.";
    $size-style: map-get($heading-sizes, 'm');
    font-size: map-get($size-style, font-size);
    margin: map-get($size-style, margin);
  }
}

@mixin display($size: 'l') {
  font-family: $poppins;
  line-height: 1.3;

  @if map-has-key($display-sizes, $size) {
    $size-style: map-get($display-sizes, $size);
    font-size: map-get($size-style, font-size);
    margin: map-get($size-style, margin);
  } @else {
    @warn "Heading size '#{$size}' not found. Using the default 'm' size.";
    $size-style: map-get($display-sizes, 'm');
    font-size: map-get($size-style, font-size);
    margin: map-get($size-style, margin);
  }
}

@mixin body-styles($styles) {
  @each $property, $value in $styles {
    #{$property}: $value;
  }
}
